@model ManageProducts.Models.Department

@{
    ViewBag.Title = Model.Name;
}

<h2 style="text-transform:uppercase; padding-bottom:2%;">@Model.Name</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Items.First().Name)</th>
            <th>@Html.DisplayNameFor(model => model.Items.First().CreatedDate)</th>
            <th>@Html.DisplayNameFor(model => model.Items.First().Price)</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.Items) {
            <tr onclick="location.href='@Url.Action("ViewDetail", "BrowseItem", new { id = item.ItemId })'">
                <td>@item.Name</td>
                <td>@item.CreatedDate</td>
                <td>@item.Price</td>
            </tr>
        }
    </tbody>
</table>




